body {
    font-size: 13px
}
a{
    cursor: pointer;
}


/*左侧三级菜单*/
.nav-list>li .submenu>li .submenu>li a>.menu-icon {
    display: none;
    font-size: 12px;
    font-weight: normal;
    width: 18px;
    height: auto;
    line-height: 12px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 11px;
    z-index: 1;
    background-color: inherit
}

/*start 侧边弹出栏*/
.sidebar_detail {
    height: 100%;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    position: absolute;
    z-index: 3000;
    top: 0;
    padding: 10px;
    background-color: white;
    overflow-y:scroll
}
.tab-content>div{
    padding: 10px;
}
.affix-section{
    margin-bottom: -25px;
}
.affix-section h3{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #bbb;
}
/*boostrap样式覆盖*/
label{
    font-weight:normal !important
}
.form-group {
    margin-bottom: 8px !important;
}
/* .col-md-8{
    padding-left: 0px !important;
} */
.col-sm-10{
    padding-left: 0px !important;
}
.form-control{
    height: 30px;
    padding: 3px 10px;
    font-size:13px;
}
/*end 侧边弹出栏*/

/*文本框后的图标样式*/
.form-group .select i {
    position: absolute;
    width: 24px;
    display: block;
    height: 24px;
    line-height: 26px;
    top: 3px;
    right: 18px;
    cursor: pointer;
    text-align: center;
    color: #888;
    border-left: 1px solid #888;
}

/*附件上传中的注意事项*/
.attention_content{
    display: block;
    background: #f6f6f6;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    font-family: Arial,"微软雅黑", "宋体", Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 2em;
}

/* modal-dialog */
.modal-dialog h4{
    font-size: 15px;
}
.modal-header .close{
    margin-top: 0;
}
.modal-header{
    padding: 10px 15px;
}

.modal-dialog .btn{
    padding: 4px 10px;
}

/*表单验证相关*/
.cs-help-block{
    display: block;
    margin-top: 5px;
    color: #a94442;
}
.cs-error-border{
    border-width: 1px;
    border-color: rgb(208, 123, 122);
}

