<div id="role4resourcePanel" style="display: none1;">
	<div class="row">
		<div class="col-md-12 form-horizontal">
			<div class="form-group">
				<label for="" class="col-sm-3 control-label">角色名称:</label>
				<div class="col-sm-6">
					<input id="role3resourceRoleName" type="text" class="form-control">
				</div>
				<div class="col-sm-3">
					<input type="button" value="查询"  id="role4resourceBtn"/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div id="role4resourceList"></div>
	</div>
</div>