<h2>inputSelect样例</h2>
<p>您的选择结果是：<span id="result" class="text-primary"></span></p>
<!-- html -->
<input id="test" class="form-control" />
<!-- javascript -->
<script type="text/javascript">
    //数据
    require(["UtilDir/inputSelect"], function(inputSelect){
        //数据
        var data = [
            {
                "id" : "1",
                "name":"国籍",
                "data":[
                    {"id":"101","name":"美国","checked":true},
                    {"id":"102","name":"英国"},
                    {"id":"103","name":"韩国","checked":true},
                    {"id":"104","name":"德国"},
                    {
                        "id":"105",
                        "name":"中国",
                        "data":[
                            {"id":"105001","name":"北京市","checked":true},
                            {"id":"105002","name":"河北省"},
                            {"id":"105003","name":"河南省","checked":true},
                            {"id":"105004","name":"辽宁省"},
                            {"id":"105005","name":"上海市","checked":true}
                        ]
                    }
                ]
            }
        ];
        //初始化
        inputSelect({
            //要渲染的input的id
            id : "test",
            //下拉框的类型：select单选/checkbox多选
            type : "checkbox",
            //数据源：数组或url地址
            data :data,
            //启用文本搜索
            searchAble : true,
            //选择之后回调方法：id，选择的id数组，data，选择的数据数组
            callback : function(id, data) {
                var str = "";
                $.each(data, function(i, n){
                    str += n["name"] + ";";
                })
                $("#result").text(str);
            }
        });
    })
</script>