<h2>dataSelect样例</h2>

<input id="selectMulti" type="button" class="btn btn-default" value="请选择">
<input id="selectSingle" type="text" class="form-control" placeholder="单选,选中的信息建在这里显示">
<!-- requireJS Load -->
<script type="text/javascript">
require(["jquery","PDUtilDir/org/orgSelect","Bootstrap"],function($,orgUtil){
    orgUtil.CS_SelectPsn({
        id : "selectMulti",
        multi : true,
        title : "人员选择",
        tagData : ["user","group"],
        callback : function(data){
            console.log(data);
            console.log(orgUtil.CS_getSelectPsn("selectMulti"));
        }
    });
    orgUtil.CS_SelectPsn({
        id : "selectSingle",
        multi : false,
        title : "部门选择",
        hideTag : true,
        tagData : ["dept"],
        callback : function(data){
            console.log(data);
            console.log(orgUtil.CS_getSelectPsn("selectSingle"));
        }
    });
 });
</script>