<div id="userEditPanel" style="display:none">
    <form id="userFormId">
    <div style="float:left">
        <div style="padding:10px;font-size:24px"><i class="fa fa-home"></i>&nbsp;{{user.entity.resourcesName}}</div>
    </div>
    <div style="float:right;padding-top:8px;padding-right:33px">
        <!--<button中的 ng-click属性值指定调用ctrl.js中的哪个方法  -->
        <button type="button" class="btn btn-default" style="width:98px;text-align:left" ng-click="user.saveEntity()">
            <i class="fa fa-save"></i>&nbsp;保存
        </button>
    </div>


    <div class="tab-pane active" style="margin-top:40px">
        <div class="affix-section">
            <h3 id="link1">用户信息</h3>
            <div class="row">

                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="loginname" class="col-sm-3 control-label"><span style="color:red">*</span>登录名:</label>
                        <div class="col-sm-8">
                           <input style="display:{{user.userModify ? 'none' :'true'}}" id="loginname" name="loginname" type="text" class="form-control" ng-model="user.entity.loginname" >
                            <span style="display:{{user.userModify ? 'true' :'none'}}" class="form-control">{{user.entity.loginname}}<br></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="resourcesType" class="col-sm-3 control-label"><span style="color:red">*</span>用户名:</label>
                        <div class="col-sm-8">
                            <input id="username" name="username" type="text" class="form-control" ng-model="user.entity.username">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="dictSex" class="col-sm-3 control-label">性别:</label>
                        <div class="col-sm-8">
	                            <select id="dictSex"  name="dictSex" ng-model="user.entity.dictSex" class="form-control" ng-options="m.dictCode as m.dictName for m in user.sexCodes">
								    <option value="">-- 请选择 --</option>
								</select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">地址:</label>
                        <div class="col-sm-8">
                            <input id="address" name="address" type="text" class="form-control" ng-model="user.entity.address">
                        </div>
                    </div>
                </div>
                 <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="tel" class="col-sm-3 control-label">电话:</label>
                        <div class="col-sm-8">
                            <input id="tel" name="tel" type="text" class="form-control" ng-model="user.entity.tel">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-3 control-label">移动电话:</label>
                        <div class="col-sm-8">
                            <input id="mobile" name="mobile" type="text" class="form-control" ng-model="user.entity.mobile">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="userType" class="col-sm-3 control-label"><span style="color:red">*</span>用户类型:</label>
                        <div class="col-sm-8">
<!--                             <input id="dictUserType" name="userType" type="text" class="form-control" ng-model="user.entity.userType"> -->
	                            <select id="dictUserType"  name="dictUserType" ng-model="user.entity.dictUserType" class="form-control" ng-options="m.dictCode as m.dictName for m in user.userTypeCodes">
								    <option value="">-- 请选择 --</option>
								</select>
                         </div>
                    </div>
                </div>
               <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">电子邮件:</label>
                        <div class="col-sm-8">
                            <input id="email" name="email" type="text" class="form-control" ng-model="user.entity.email">
                        </div>
                    </div>
                </div>
               <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="userNum" class="col-sm-3 control-label">排序序号:</label>
                        <div class="col-sm-8">
                            <input id="userNum" name="userNum" type="text" class="form-control" ng-model="user.entity.userNum">
                        </div>
                    </div>
                </div>
                
             
               </div>
        </div>
    </div>
    </form>
</div>