/*在线样例相关start*/
.cs-example-source{
	width:49%;
	min-height: 400px;
	border-right: 1px solid #c9c9c9;
	float: left
}
.cs-example-source pre{
	line-height: 1.5em!important;
}
.cs-example-instance{
	float: left;
	padding: 10px;
	width: 50%;
}
.cs-example-hr{
	margin-top: 10px
}
/*在线样例相关end*/

/*table add按钮样式*/
.table-add{
	margin-left: 5px;
	font-size: 14px;
	font-weight: normal;
	padding: 3px 5px;
	cursor: pointer;
	text-decoration: none;
	font-family: Arial, 微软雅黑, 宋体, Tahoma, Helvetica, sans-serif;
}
.table-add:hover{
	background-color: #2898e0;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
}