<div class="dataSelect">
	<div class="dataTree mod">
		<div class="info">
			<div class="curType">类型:<span></span></div>
			<div class="curPos">范围:<span></span></div>
		</div>
		<div class="type"></div>
		<div class="tree"></div>
	</div>
	<div class="dataList mod">
		<div class="search">
			<input type="text" placeholder="请输入要查询的名称/代码" class="form-control">
		</div>
		<div class="list"></div>
	</div>
	<div class="selectList mod">
		<div class="tool">
			<a class="up btn btn-default fa fa-angle-double-up"></a>
			<a class="down btn btn-default fa fa-angle-double-down"></a>
			<a class="remove btn btn-default fa fa-trash-o"></a>
		</div>
		<div class="list"></div>
	</div>
</div>