<!-- 操作栏 -->
<button type="button" class="btn btn-default"><i class="fa fa-cog"></i>&nbsp;组织配置</button>
<button type="button" class="btn btn-default" ng-show="opt.curTab=='orgTab'" ng-click="importOrg()"><i class="fa fa-upload"></i>&nbsp;部门导入</button>
<button type="button" class="btn btn-default" ng-show="opt.curTab=='orgTab'" ng-click="importPerson()"><i class="fa fa-upload"></i>&nbsp;员工导入</button>
<button type="button" class="btn btn-default" ng-show="opt.curTab=='roleTab'" ng-click="importRoleDir()"><i class="fa fa-upload"></i>&nbsp;角色目录导入</button>
<button type="button" class="btn btn-default" ng-show="opt.curTab=='roleTab'" ng-click="importRole()"><i class="fa fa-upload"></i>&nbsp;角色导入</button>
<button type="button" class="btn btn-default" ng-show="opt.curSelectConfig=='GW'" ng-click="importGW()"><i class="fa fa-upload"></i>&nbsp;岗位导入</button>
<button type="button" class="btn btn-default" ng-show="opt.curSelectConfig=='ZW'" ng-click="importZW()"><i class="fa fa-upload"></i>&nbsp;职务导入</button>
<button type="button" class="btn btn-default" ng-show="opt.curSelectOrg" ng-click="editDept()"><i class="fa fa-edit"></i>&nbsp;编辑部门</button>
<button type="button" class="btn btn-default" ng-show="opt.curSelectOrg" ng-click="addDept()"><i class="fa fa-plus-circle"></i>&nbsp;新增部门</button>
<button type="button" class="btn btn-default" ng-show="opt.curSelectOrg" ng-click="addPerson()"><i class="fa fa-plus-circle"></i>&nbsp;新增人员</button>
<button type="button" class="btn btn-default" ng-show="opt.curSelectRole" ng-click="editRoleDir()"><i class="fa fa-edit"></i>&nbsp;编辑目录</button>
<button type="button" class="btn btn-default" ng-show="opt.curSelectRole" ng-click="addRoleDir()"><i class="fa fa-plus-circle"></i>&nbsp;新增目录</button>
<button type="button" class="btn btn-default" ng-show="opt.curSelectRole"><i class="fa fa-plus-circle"></i>&nbsp;新增角色</button>
<button type="button" class="btn btn-default" ng-show="opt.curSelectConfig=='GW'" ng-click="addGW()"><i class="fa fa-plus-circle"></i>&nbsp;新增岗位</button>
<button type="button" class="btn btn-default" ng-show="opt.curSelectConfig=='ZW'" ng-click="addZW()"><i class="fa fa-plus-circle"></i>&nbsp;新增职务</button>


<hr style="margin-top:5px;margin-bottom:10px">


<div class="col-xs-3">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li ng-click="switchTab('orgTab')" class="active" style="width:33%"><a href="#orgTreePanel" role="tab" data-toggle="tab">组织</a></li>
        <li ng-click="switchTab('roleTab')" style="width:34%"><a href="#orgRolePanel" role="tab" data-toggle="tab">角色</a></li>
        <li ng-click="switchTab('configTab')" style="width:33%"><a href="#orgConfig" role="tab" data-toggle="tab">高级</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" >
        <div class="tab-pane active" id="orgTreePanel">
            <ul dept-tree class="ztree" id="orgtree"></ul>
        </div>
        <div class="tab-pane" id="orgRolePanel">
            <ul role-tree class="ztree" id="roletree"></ul>
        </div>
        <div class="tab-pane" id="orgConfig">
            <ul config-tree class="ztree" id="orgConfigTree"></ul>
        </div>
    </div>
</div>
<div class="col-xs-9">
    <div id="orgMainId">
        主页面
    </div>
    <div style="display:none" id="orgPersonListId">
       <div view-frame="ViewFrame"></div>
    </div>
</div>
