<div class="sidebar_detail" id="EditDeptPanel" style="display:none">
    <div style="float:left">
        <div style="padding:10px;font-size:24px"><i class="fa fa-sitemap"></i>&nbsp;{{Org.Dept.DeptInfo.BaseInfo.deptName}}</div>
        <div style="padding-left:32px;font-size:13px;padding-bottom:14px"><span class="last">部门ID：{{Org.Dept.DeptInfo.BaseInfo.deptId}}</span></div>
    </div>
    <div style="float:right;padding-top:8px;padding-right:33px">
        <button type="button" class="btn btn-default" style="width:98px;text-align:left">
            <i class="fa fa-save"></i>&nbsp;保存
        </button><br/>
        <button type="button" class="btn btn-default" style="margin-top:10px" ng-show="Org.Dept.curTab==2">
            <i class="fa fa-plus-circle"></i>&nbsp;新增成员
        </button>
        <button type="button" class="btn btn-default" style="margin-top:10px" ng-show="Org.Dept.curTab==3">
            <i class="fa fa-plus-circle"></i>&nbsp;新增岗位
        </button>
    </div>
    <!--<div style="float:right;padding-top:23px;padding-right:33px">
        <button type="button" class="btn btn-default" ng-click="Org.Dept.save()"><i class="menu-icon fa fa-save"></i>&nbsp;保存</button>
    </div>-->


    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="clear:both">
        <li class="active" ng-click="Org.Dept.curTab=1"><a data-target="#DeptBaseInfo" role="tab" data-toggle="tab">部门信息</a></li>
        <li ng-click="Org.Dept.curTab=2"><a data-target="#DeptMembers" role="tab" data-toggle="tab">成员列表</a></li>
        <li ng-click="Org.Dept.curTab=3"><a data-target="#DeptGWInfo" role="tab" data-toggle="tab">岗位信息</a></li>
        <li ng-click="Org.Dept.curTab=4"><a data-target="#DeptExtendInfo" role="tab" data-toggle="tab">扩展信息</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="DeptBaseInfo">
            <div class="affix-section">
                <h3 id="link1">基本信息</h3>
                <div class="row">
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="DdeptId" class="col-md-4 col-sm-2 control-label">部门ID:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="DdeptId" type="text" class="form-control" ng-model="Org.Dept.DeptInfo.BaseInfo.deptId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="DdeptCode" class="col-md-4 col-sm-2 control-label">部门编号:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="DdeptCode" type="text" class="form-control" ng-model="Org.Dept.DeptInfo.BaseInfo.deptId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="DdeptName" class="col-md-4 col-sm-2 control-label">部门名称:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="DdeptName" type="text" class="form-control" ng-model="Org.Dept.DeptInfo.BaseInfo.deptName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="deptLevel" class="col-md-4 col-sm-2 control-label">部门级别:</label>
                            <div class="col-md-8 col-sm-10">
                                <input type="text" class="form-control" id="deptLevel" ng-model="Org.Dept.DeptInfo.BaseInfo.level">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="DdeptLeader" class="col-md-4 col-sm-2 control-label">部门领导:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="DdeptLeader" type="text" class="form-control" ng-model="Org.Dept.DeptInfo.BaseInfo.leader">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="DdeptLeaderCode" class="col-md-4 col-sm-2 control-label">部门领导编号:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="DdeptLeaderCode" type="text" class="form-control" ng-model="Org.Dept.DeptInfo.BaseInfo.leaderCode" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="deptManager" class="col-md-4 col-sm-2 control-label">管理人员:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="deptManager" type="text" class="form-control" ng-model="Org.Dept.DeptInfo.BaseInfo.manager">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="deptManagerCode" class="col-md-4 col-sm-2 control-label">管理人员编号:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="deptManagerCode" type="text" class="form-control" ng-model="Org.Dept.DeptInfo.BaseInfo.managerCode" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="costCenterCode" class="col-md-4 col-sm-2 control-label">成本中心编号:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="costCenterCode" type="text" class="form-control" ng-model="Org.Dept.DeptInfo.BaseInfo.costCenterCode">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="deptSort" class="col-md-4 col-sm-2 control-label">显示序号:</label>
                            <div class="col-md-8 col-sm-10">
                                <input type="text" class="form-control" id="deptSort" ng-model="Org.Dept.DeptInfo.BaseInfo.sort">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="pDeptName" class="col-md-4 col-sm-2 control-label">所属部门名称:</label>
                            <div class="col-md-8 col-sm-10">
                                <input type="text" class="form-control" id="pDeptName" ng-model="Org.Dept.DeptInfo.BaseInfo.pDeptName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="pDeptId" class="col-md-4 col-sm-2 control-label">所属部门ID:</label>
                            <div class="col-md-8 col-sm-10">
                                <input type="text" class="form-control" id="pDeptId" ng-model="Org.Dept.DeptInfo.BaseInfo.pDeptId" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-horizontal">
                        <div class="form-group">
                            <label for="deptOU" class="col-sm-2 control-label">部门OU:</label>
                            <div class="col-sm-10">
                                <input id="deptOU" type="text" class="form-control" ng-model="Org.Dept.DeptInfo.BaseInfo.ou">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="DeptMembers">
            <table class="table table-bordered table-hover" style="margin-top:10px">
                <tr>
                    <td style="width:50px">序号</td>
                    <td>用户名称</td>
                    <td>员工编号</td>
                    <td>电话</td>
                    <td>邮箱</td>
                    <td style="width:50px">操作</td>
                </tr>
                <tr ng-repeat="member in Org.Dept.Members">
                    <td style="text-align:center">{{$index+1}}</td>
                    <td>{{ member.userName }}</td>
                    <td>{{ member.userCode }}</td>
                    <td>{{ member.phone }}</td>
                    <td>{{ member.email }}</td>
                    <td style="text-align:center;font-size:14px">
                        <i class="glyphicon glyphicon-trash" style="cursor:pointer" title="删除" ng-click="Org.Dept.delMember($index)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="DeptGWInfo">
            <table class="table table-bordered table-hover" style="margin-top:10px">
                <tr>
                    <td style="width:50px">序号</td>
                    <td>岗位编号</td>
                    <td>岗位名称</td>
                    <td>继承到下级组织</td>
                    <td>成员列表</td>
                    <td style="width:51px">操作</td>
                </tr>
                <tr ng-repeat="gw in Org.Dept.GW">
                    <td style="text-align:center">{{$index+1}}</td>
                    <td>{{ gw.gwName }}</td>
                    <td>{{ gw.gwCode }}</td>
                    <td>{{ gw.extend }}</td>
                    <td>{{ gw.members }}</td>
                    <td style="text-align:center;font-size:14px">
                        <i class="fa fa-edit" style="cursor:pointer" title="编辑" ng-click="Org.Dept.editGW($index)"></i>
                        <i class="glyphicon glyphicon-trash" style="cursor:pointer" title="删除" ng-click="Org.Dept.delGW($index)"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="DeptExtendInfo">
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend1" class="col-md-4 col-sm-2 control-label">部门信息1:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend1" type="text" class="form-control" ng-model="Org.Dept.Extends.extend1">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend2" class="col-md-4 col-sm-2 control-label">部门信息2:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend2" type="text" class="form-control" ng-model="Org.Dept.Extends.extend2">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend3" class="col-md-4 col-sm-2 control-label">部门信息3:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend3" type="text" class="form-control" ng-model="Org.Dept.Extends.extend3">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend4" class="col-md-4 col-sm-2 control-label">部门信息4:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend4" type="text" class="form-control" ng-model="Org.Dept.Extends.extend4">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend5" class="col-md-4 col-sm-2 control-label">部门信息5:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend5" type="text" class="form-control" ng-model="Org.Dept.Extends.extend5">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend6" class="col-md-4 col-sm-2 control-label">部门信息6:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend6" type="text" class="form-control" ng-model="Org.Dept.Extends.extend6">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend7" class="col-md-4 col-sm-2 control-label">部门信息7:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend7" type="text" class="form-control" ng-model="Org.Dept.Extends.extend7">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend8" class="col-md-4 col-sm-2 control-label">部门信息8:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend8" type="text" class="form-control" ng-model="Org.Dept.Extends.extend8">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend9" class="col-md-4 col-sm-2 control-label">部门信息9:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend9" type="text" class="form-control" ng-model="Org.Dept.Extends.extend9">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend10" class="col-md-4 col-sm-2 control-label">部门信息10:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend10" type="text" class="form-control" ng-model="Org.Dept.Extends.extend10">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend11" class="col-md-4 col-sm-2 control-label">部门信息11:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend11" type="text" class="form-control" ng-model="Org.Dept.Extends.extend11">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend12" class="col-md-4 col-sm-2 control-label">部门信息12:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend12" type="text" class="form-control" ng-model="Org.Dept.Extends.extend12">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend13" class="col-md-4 col-sm-2 control-label">部门信息13:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend13" type="text" class="form-control" ng-model="Org.Dept.Extends.extend13">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend14" class="col-md-4 col-sm-2 control-label">部门信息14:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend14" type="text" class="form-control" ng-model="Org.Dept.Extends.extend14">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend15" class="col-md-4 col-sm-2 control-label">部门信息15:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend15" type="text" class="form-control" ng-model="Org.Dept.Extends.extend15">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend16" class="col-md-4 col-sm-2 control-label">部门信息16:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend16" type="text" class="form-control" ng-model="Org.Dept.Extends.extend16">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend17" class="col-md-4 col-sm-2 control-label">部门信息17:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend17" type="text" class="form-control" ng-model="Org.Dept.Extends.extend17">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend18" class="col-md-4 col-sm-2 control-label">部门信息18:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend18" type="text" class="form-control" ng-model="Org.Dept.Extends.extend18">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend19" class="col-md-4 col-sm-2 control-label">部门信息19:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="Dextend19" type="text" class="form-control" ng-model="Org.Dept.Extends.extend19">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="Dextend20" class="col-md-4 col-sm-2 control-label">部门信息20:</label>
                    <div class="col-md-8 col-sm-10">
                        <input type="text" class="form-control" id="Dextend20" ng-model="Org.Dept.Extends.extend20">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>