<div>
    <form id="GWForm">
        <div class="tab-header">
            <div class="title">
                <i class="fa fa-home"></i><span id="org_GWName"></span>
            </div>
            <div class="tool">
                <button type="button" class="btn btn-default">
                    <i class="fa fa-save"></i>保存
                </button>
            </div>
        </div>
        <div class="single-panel" id="tab_GW">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="gwName" class="col-sm-3 control-label">岗位名称:</label>
                        <div class="col-sm-8">
                            <input id="gwName" type="text" class="form-control" ng-model="Org.GW.gwName">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="gwCode" class="col-sm-3 control-label">岗位编号:</label>
                        <div class="col-sm-8">
                            <input id="gwCode" type="text" class="form-control" ng-model="Org.GW.gwCode">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="GWSort" class="col-sm-3 control-label">显示序号:</label>
                        <div class="col-sm-8">
                            <input id="GWSort" type="text" class="form-control" ng-model="Org.GW.sort" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>