<div id="EditPersonPanel">
    <div style="float:left">
        <div style="padding:10px;font-size:24px"><i class="menu-icon fa fa-user"></i><span id="org_PersonName"></span></div>
        <div style="padding-left:32px;font-size:13px;padding-bottom:14px"><span class="last" id="org_PersonDeptName"></span></div>
    </div>
    <div style="float:right;padding-top:23px;padding-right:33px">
        <button type="button" class="btn btn-default" ng-click="Org.Person.save()"><i class="menu-icon fa fa-save"></i>&nbsp;保存</button>
    </div>


    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="clear:both">
        <li class="active"><a data-target="#PersonBaseInfo" role="tab" data-toggle="tab">人员信息</a></li>
        <li><a data-target="#PersonRoleInfo" role="tab" data-toggle="tab">所属角色</a></li>
        <li><a data-target="#PersonGWInfo" role="tab" data-toggle="tab">所属岗位</a></li>
        <li><a data-target="#PersonExtendInfo" role="tab" data-toggle="tab">扩展信息</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="PersonBaseInfo">
            <div class="affix-section">
                <h3 id="link1">基本信息</h3>
                <div class="row">
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="userCode" class="col-md-4 col-sm-2 control-label">员工编号:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="userCode" type="text" class="form-control" ng-model="Org.Person.PersonInfo.BaseInfo.userCode">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="userName" class="col-md-4 col-sm-2 control-label">用户名称:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="userName" type="text" class="form-control" ng-model="Org.Person.PersonInfo.BaseInfo.userName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-md-4 col-sm-2 control-label">性别:</label>
                            <div class="col-md-8 col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="男" ng-model="Org.Person.PersonInfo.BaseInfo.sex">男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="女" ng-model="Org.Person.PersonInfo.BaseInfo.sex">女
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="birthday" class="col-md-4 col-sm-2 control-label">生日:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="birthday" type="text" class="form-control" ng-model="Org.Person.PersonInfo.BaseInfo.birthday">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="officePhone" class="col-md-4 col-sm-2 control-label">办公电话:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="officePhone" type="text" class="form-control" ng-model="Org.Person.PersonInfo.BaseInfo.officePhone">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="phone" class="col-md-4 col-sm-2 control-label">移动电话:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="phone" type="text" class="form-control" ng-model="Org.Person.PersonInfo.BaseInfo.phone">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="fax" class="col-md-4 col-sm-2 control-label">传真:</label>
                            <div class="col-md-8 col-sm-10">
                                <input type="text" class="form-control" id="fax" ng-model="Org.Person.PersonInfo.BaseInfo.fax">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="email" class="col-md-4 col-sm-2 control-label">邮箱:</label>
                            <div class="col-md-8 col-sm-10">
                                <input type="text" class="form-control" id="email" ng-model="Org.Person.PersonInfo.BaseInfo.email">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="sle_PersonZW" class="col-md-4 col-sm-2 control-label">职务:</label>
                            <div class="col-md-8 col-sm-10">
                                <select class="form-control" id="sle_PersonZW" data-ng-model="Org.Person.PersonInfo.BaseInfo.ZW"  data-ng-options="zw.name for zw in Org.Person.ZWList">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="sort" class="col-md-4 col-sm-2 control-label">显示序号:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="sort" type="text" class="form-control" ng-model="Org.Person.PersonInfo.BaseInfo.sort">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-md-4 col-sm-2 control-label">是否冻结:</label>
                            <div class="col-md-8 col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="locked" value="yes" ng-model="Org.Person.PersonInfo.BaseInfo.locked">是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="locked" value="no" ng-model="Org.Person.PersonInfo.BaseInfo.locked">否
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="affix-section">
                <h3>部门信息</h3>
                <div class="row">
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="deptName" class="col-md-4 col-sm-2 control-label">所属部门:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="deptName" type="text" class="form-control" readonly ng-model="Org.Person.PersonInfo.DeptInfo.deptName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="deptId" class="col-md-4 col-sm-2 control-label">部门ID:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="deptId" type="text" class="form-control" readonly ng-model="Org.Person.PersonInfo.DeptInfo.deptId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="JZDeptName" class="col-md-4 col-sm-2 control-label">兼职部门:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="JZDeptName" type="text" class="form-control" readonly ng-model="Org.Person.PersonInfo.DeptInfo.JZDeptName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-horizontal">
                        <div class="form-group">
                            <label for="JZDeptId" class="col-md-4 col-sm-2 control-label">兼职部门编号:</label>
                            <div class="col-md-8 col-sm-10">
                                <input id="JZDeptId" type="text" class="form-control" readonly ng-model="Org.Person.PersonInfo.DeptInfo.JZDeptId">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="PersonRoleInfo">
            <table class="table table-bordered table-hover" style="margin-top:10px">
                <tr>
                    <td style="width:50px">序号</td>
                    <td>角色编号</td>
                    <td>角色名称</td>
                    <td>所属目录</td>
                    <td>管理人员</td>
                    <td style="width:50px">操作</td>
                </tr>
                <!-- 模板 -->
                <script id="T_PersonRoles" type="text/html">
                    <%for(var i=0,item;item=Org.Person.Roles[i++];){%>
                    <tr>
                        <td style="text-align:center"><%=i%></td>
                        <td><%=item.roleCode %></td>
                        <td><%=item.roleName %></td>
                        <td><%=item.dirName %></td>
                        <td><%=item.manager %></td>
                        <td style="text-align:center;font-size:14px">
                            <i class="glyphicon glyphicon-trash" style="cursor:pointer" title="删除" ng-click="Org.Person.delRole($index)"></i>
                        </td>
                    </tr>
                    <%}%>
                    <!--<tr ng-repeat="role in Org.Person.Roles">
                        <td style="text-align:center">{{$index+1}}</td>
                        <td>{{ role.roleCode }}</td>
                        <td>{{ role.roleName }}</td>
                        <td>{{ role.dirName }}</td>
                        <td>{{ role.manager }}</td>
                        <td style="text-align:center;font-size:14px">
                            <i class="glyphicon glyphicon-trash" style="cursor:pointer" title="删除" ng-click="Org.Person.delRole($index)"></i>
                        </td>
                    </tr>-->
                </script>
            </table>
        </div>
        <div class="tab-pane" id="PersonGWInfo">
            <table class="table table-bordered table-hover" style="margin-top:10px">
                <tr>
                    <td style="width:50px">序号</td>
                    <td>岗位编号</td>
                    <td>岗位名称</td>
                    <td>所属部门编号</td>
                    <td>所属部门名称</td>
                    <td style="width:50px">操作</td>
                </tr>
                <!-- 模板 -->
                <script id="T_PersonGW" type="text/html">
                    <%for(var i=0,item;item=Org.Person.GW[i++];){%>
                    <tr>
                        <td style="text-align:center"><%=i%></td>
                        <td><%=item.gwCode %></td>
                        <td><%=item.gwName %></td>
                        <td><%=item.deptCode %></td>
                        <td><%=item.deptName %></td>
                        <td style="text-align:center;font-size:14px">
                            <i class="glyphicon glyphicon-trash" style="cursor:pointer" title="删除" ng-click="Org.Person.delGW($index)"></i>
                        </td>
                    </tr>
                    <%}%>
                    <!--<tr ng-repeat="gw in Org.Person.GW">
                        <td style="text-align:center">{{$index+1}}</td>
                        <td>{{ gw.gwCode }}</td>
                        <td>{{ gw.gwName }}</td>
                        <td>{{ gw.deptCode }}</td>
                        <td>{{ gw.deptName }}</td>
                        <td style="text-align:center;font-size:14px">
                            <i class="glyphicon glyphicon-trash" style="cursor:pointer" title="删除" ng-click="Org.Person.delGW($index)"></i>
                        </td>
                    </tr>-->
                </script>
            </table>
        </div>
        <div class="tab-pane" id="PersonExtendInfo">
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend1" class="col-md-4 col-sm-2 control-label">用户信息1:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend1" type="text" class="form-control" ng-model="Org.Person.Extends.extend1">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend2" class="col-md-4 col-sm-2 control-label">用户信息2:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend2" type="text" class="form-control" ng-model="Org.Person.Extends.extend2">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend3" class="col-md-4 col-sm-2 control-label">用户信息3:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend3" type="text" class="form-control" ng-model="Org.Person.Extends.extend3">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend4" class="col-md-4 col-sm-2 control-label">用户信息4:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend4" type="text" class="form-control" ng-model="Org.Person.Extends.extend4">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend5" class="col-md-4 col-sm-2 control-label">用户信息5:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend5" type="text" class="form-control" ng-model="Org.Person.Extends.extend5">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend6" class="col-md-4 col-sm-2 control-label">用户信息6:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend6" type="text" class="form-control" ng-model="Org.Person.Extends.extend6">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend7" class="col-md-4 col-sm-2 control-label">用户信息7:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend7" type="text" class="form-control" ng-model="Org.Person.Extends.extend7">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend8" class="col-md-4 col-sm-2 control-label">用户信息8:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend8" type="text" class="form-control" ng-model="Org.Person.Extends.extend8">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend9" class="col-md-4 col-sm-2 control-label">用户信息9:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend9" type="text" class="form-control" ng-model="Org.Person.Extends.extend9">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend10" class="col-md-4 col-sm-2 control-label">用户信息10:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend10" type="text" class="form-control" ng-model="Org.Person.Extends.extend10">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend11" class="col-md-4 col-sm-2 control-label">用户信息11:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend11" type="text" class="form-control" ng-model="Org.Person.Extends.extend11">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend12" class="col-md-4 col-sm-2 control-label">用户信息12:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend12" type="text" class="form-control" ng-model="Org.Person.Extends.extend12">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend13" class="col-md-4 col-sm-2 control-label">用户信息13:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend13" type="text" class="form-control" ng-model="Org.Person.Extends.extend13">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend14" class="col-md-4 col-sm-2 control-label">用户信息14:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend14" type="text" class="form-control" ng-model="Org.Person.Extends.extend14">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend15" class="col-md-4 col-sm-2 control-label">用户信息15:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend15" type="text" class="form-control" ng-model="Org.Person.Extends.extend15">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend16" class="col-md-4 col-sm-2 control-label">用户信息16:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend16" type="text" class="form-control" ng-model="Org.Person.Extends.extend16">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend17" class="col-md-4 col-sm-2 control-label">用户信息17:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend17" type="text" class="form-control" ng-model="Org.Person.Extends.extend17">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend18" class="col-md-4 col-sm-2 control-label">用户信息18:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend18" type="text" class="form-control" ng-model="Org.Person.Extends.extend18">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend19" class="col-md-4 col-sm-2 control-label">用户信息19:</label>
                    <div class="col-md-8 col-sm-10">
                        <input id="extend19" type="text" class="form-control" ng-model="Org.Person.Extends.extend19">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="extend20" class="col-md-4 col-sm-2 control-label">用户信息20:</label>
                    <div class="col-md-8 col-sm-10">
                        <input type="text" class="form-control" id="extend20" ng-model="Org.Person.Extends.extend20">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>