<div>
    <form id="ZWForm">
        <div class="tab-header">
            <div class="title">
                <i class="fa fa-home"></i><span id="org_ZWName"></span>
            </div>
            <div class="tool">
                <button type="button" class="btn btn-default" id="saveOrgZWBtn">
                    <i class="fa fa-save"></i>保存
                </button>
            </div>
        </div>
        <div class="single-panel" id="tab_ZW">
            <div class="row">

                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="zwCode" class="col-sm-3 control-label"><span class="requird">*</span>职务编号:</label>
                        <div class="col-sm-8">
                            <input id="zwCode" name="zwCode" type="text" class="form-control" ng-model="Org.ZW.zwCode">
                            <input id="zwUuid" name="zwUuid" type="text" class="form-control" ng-model="Org.ZW.zwUuid" style="display:none">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="zwName" class="col-sm-3 control-label"><span class="requird">*</span>职务名称:</label>
                        <div class="col-sm-8">
                            <input id="zwName" name="zwName" type="text" class="form-control" ng-model="Org.ZW.zwName">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="ZWSort" class="col-sm-3 control-label">显示序号:</label>
                        <div class="col-sm-8">
                            <input id="ZWSort" type="text" class="form-control" ng-model="Org.ZW.sort">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>