<h2>inputSelect样例</h2>
<hr/>
<p>您的选择结果是：<span id="result" class="text-primary"></span></p>
<!-- html -->
<input id="test" class="form-control" />
<!-- javascript -->
<script type="text/javascript">
    //数据
    require(["PDUtilDir/inputSelect"], function(inputSelect){
        //数据
        var data = [
            {
                "id" : "1",
                "name":"国籍",
                "data":[
                    {"id":"101","name":"美国","checked":true},
                    {"id":"102","name":"英国"},
                    {"id":"103","name":"韩国","checked":true},
                    {"id":"104","name":"德国"},
                    {
                        "id":"105",
                        "name":"中国",
                        "data":[
                            {"id":"105001","name":"北京市","checked":true},
                            {"id":"105002","name":"河北省"},
                            {"id":"105003","name":"河南省","checked":true},
                            {"id":"105004","name":"辽宁省"},
                            {"id":"105005","name":"上海市","checked":true}
                        ]
                    }
                ]
            }
        ];
        var dataSimple = [
            {"id":"1","pid":"0","name":"测试1"},
            {"id":"2","pid":"0","name":"测试2"},
            {"id":"3","pid":"0","name":"测试3"},
            {"id":"4","pid":"0","name":"测试4"},
            {"id":"5","pid":"0","name":"测试5"},
            {"id":"11","pid":"1","name":"国籍1"},
            {"id":"12","pid":"1","name":"国籍2"},
            {"id":"13","pid":"1","name":"国籍3"},
            {"id":"0","name":"root"},
        ];
        //初始化
        inputSelect({
            //要渲染的input的id
            id : "test",
            //下拉框的类型：单选or多选
            multi : true,
            //数据源：数组或url地址
            key : {
                id : "id",
                name : "name",
                data : "data",
                pid : "pid",
                rootId : "root"
            },
            data :dataSimple,
            simpleData : true,
            initData:[2,3],
            //启用文本搜索
            searchAble : true,
            //选择之后回调方法：id，选择的id数组，data，选择的数据数组
            callback : function(id, data) {
                var str = "";
                $.each(data, function(i, n){
                    str += n["name"] + ";";
                })
                $("#result").text(str);
            }
        });
    })
</script>