<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
#dictMgrTreeToolBar{
	height:40px;
	display: block;
}
#dictMgrTreeToolBar ul{
	list-style: none;
	margin: 1px;
	padding: 0;
}
#dictMgrTreeToolBar ul li{
	margin: 5px 2px;
	display: inline;
	float: right;
}
#dictMgrTreeToolBar ul li a{
	display: block;
	width: 20px;
	padding: 2px 0;
	text-align: center;
}
#dictMgrTreeToolBar ul li a:hover{
	background-color: #2898e0!important;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
}
</style>

</head>
<body>

<div id="sys_dict_mgr" class="css_dict_mgr col-xs-12">
	<div class="dict_sidebar col-xs-2">
		<div id="dictMgrTreeToolBar"> </div>
		<ul id="dictMgrTree" class="ztree">
			
		</ul>
	</div>
	<div class="dict_main col-xs-10">
		<div id="dictMgrGrid">
			
		</div>
	</div>
</div>
</body>
</html>