<div id="scriptTemplate">
<button ng-click="showAPI()" class="btn btn-info" style="margin-right: 20px;">
    <i class="fa fa-bookmark"></i>&nbsp;&nbsp;API
</button>
<button ng-click="runJS()" class="btn btn-primary" style="margin-right: 20px;">
    <i class="fa fa-play-circle"></i>&nbsp;&nbsp;提交代码
</button>
<button ng-click="helpInfo()" class="btn btn-default" style="margin-right: 20px;">
    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;提示
</button>
<!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    选择代码编辑框主题<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="javascript:void(0);" ng-click="selectTheme('cobalt')">cobalt</a></li>
    <li><a href="javascript:void(0);" ng-click="selectTheme('eclipse')">eclipse</a></li>
    <li><a href="javascript:void(0);" ng-click="selectTheme('mdn-like')">mdn-like</a></li>
    <li><a href="javascript:void(0);" ng-click="selectTheme('neat')">neat</a></li>
    <li><a href="javascript:void(0);" ng-click="selectTheme('neo')">neo</a></li>
    <li><a href="javascript:void(0);" ng-click="selectTheme('rubyblue')">rubyblue</a></li>
    <li><a href="javascript:void(0);" ng-click="selectTheme('solarized light')">solarized light</a></li>
    <li><a href="javascript:void(0);" ng-click="selectTheme('solarized dark')">solarized dark</a></li>
  </ul>
</div>

<div id="noticeDiv"
	 class="alert alert-dismissible" 
	 role="alert" style="margin: 20px 10px;">
  
</div>

<hr class="cs-example-hr">
<div class="cs-example-source">
    <textarea id="exampleSource">

    </textarea>
</div>

<div id="exampleInstance" class="cs-example-instance">

</div>
<div>

