<li ng-repeat="sidebar in sidebar.subMenu" class="{{hover}}">
    <a href="{{ sidebar.menu.menuUrl || 'javascript:;)' }}" class="{{sidebar.subMenu?'dropdown-toggle':''}}">
        <i class="menu-icon fa {{ sidebar.menu.menuIcon|| 'fa-caret-right' }}"></i>
        <span class="menu-text"> {{ sidebar.menu.menuName }} </span>
        <b class="arrow {{sidebar.subMenu?'fa fa-angle-down':''}}"></b>
    </a>
    <b class="arrow"></b>
    <ul ng-if="sidebar.subMenu" class="submenu" ng-include="templateUrl"></ul>
</li>
