<div class="col-xs-9">
	<div class="col-xs-12">	
		<form role="form" class="form-horizontal">
			  <div class="form-group">
				    <label class="col-sm-2 control-label" for="queryOpusName">组织名称:</label>
				    <div class="col-sm-3">
				    	<input type="text" class="form-control" id="queryOrgName" ng-model="org.query.dto.orgName">
				    </div>
				    <label class="col-sm-2 control-label"  for="queryOpusType">组织类型:</label>
				    <div class="col-sm-3">
				    	<input type="text" class="form-control" id="queryOrgType" ng-model="org.query.dto.orgType">
				    </div>
			  </div>
			  <div class="form-group">
			  	<div class="col-sm-offset-4 col-sm-8">
			      <button type="button" class="btn btn-default" ng-click="org.query.query()">查询</button>
			      <button type="button" class="btn btn-default" ng-click="org.query.reset()">重置</button>
			    </div>
			  </div>
		</form>
	</div>
	<div class="col-xs-12">
	    <div id="orgListId"></div>
	</div>
</div>
<div class="col-xs-3">
	<hr style="margin-top:20px;margin-bottom: 10px"/>
	<div>
		<div style="padding:5px;font-size:20px"><i class="fa fa-wrench"></i>&nbsp;调整节点
		<button type="button" class="btn btn-default" ng-click="org.tree.save()">保存</button>
		</div>
	</div>
	<hr style="margin-top:5px;"/>
	<ul id="orgTree" class="ztree"></ul>
</div>
<!-- 侧边弹出栏面板 -->
<div>
    <div ng-include src="org.template.orgEdit"></div>
</div>
