<div id="orgEditPanel" style="display: none;">
    <form id="orgFormId" name="orgForm">
    <div style="float:left">
        <div style="padding:10px;font-size:24px"><i class="fa fa-home"></i>&nbsp;{{org.entity.orgName}}</div>
    </div>    
    <div style="float:right;padding-top:8px;padding-right:33px">
        <button type="button" class="btn btn-default" style="width:98px;text-align:left" ng-click="org.saveEntity()">
            <i class="fa fa-save"></i>&nbsp;保存
        </button>
    </div>
    
    <div class="clearfix"></div>
    <hr/>
    
    <div id="orgInfo" class="tab-pane">
        <div class="affix-section">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="opusName" class="col-sm-3 control-label"><span class="notNull">*</span>组织名称:</label>
                        <div class="col-sm-8">
                            <input id="orgName" name="orgName" type="text" class="form-control" ng-model="org.entity.orgName">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-horizontal">
                    <div class="form-group" ng-class="{true:'has-error'}[org.orgCode]">
                        <label for="opusName" class="col-sm-3 control-label"><span class="notNull">*</span>组织代码:</label>
                        <div class="col-sm-8">
                            <input id="orgCode" name="orgCode" type="text" class="form-control" code-unique="org.orgCode" ng-model="org.entity.orgCode" />
                            <p id="orgCode-error" class="cs-help-block" ng-show="org.orgCode">组织代码已存在</p>       
                        </div>
                    </div>
                </div>                
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="masterParticipants" class="col-sm-3 control-label">组织类型:</label>
                        <div class="col-sm-8">
                            <input id="orgType" name="orgType"  type="text" class="form-control" cs-input="org.type" ng-model="org.entity.dictOrgType">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label for="opusIntroduction" class="col-sm-3 control-label">地区:</label>
                        <div class="col-sm-8">
                            <input id="dictRegion" name="dictRegion"  type="text" class="form-control" cs-input="org.region" ng-model="org.entity.dictRegion">
                        </div>
                    </div>
                </div>   
            </div>
        </div>
      </div>  
    </form>
</div>