<button ng-click="showAPI()" class="btn btn-info" style="margin-right: 20px;">
    <i class="fa fa-bookmark"></i>&nbsp;&nbsp;API
</button>
<button ng-click="runJS()" class="btn btn-primary">
    <i class="fa fa-play-circle"></i>&nbsp;&nbsp;运行
</button>

<hr class="cs-example-hr">
<div class="cs-example-source">
    <textarea id="exampleSource">
        <span>dialog样例</span>
        <script type="text/javascript">
            require(["UtilDir/dialog"],function(Dialog){
                //为弹出框增加操作按钮
                var buttons = [];
                buttons.push(
                        {name:"确定",callback:function(){
                            //此处写扩展代码

                        }}
                );
                var dialog = Dialog({
                    id:"TestDialog",
                    cache:false,                 //是否缓存，默认为true
                    title:"测试窗口",
                    width:"400px",
                    height:"100px",
                    dialogSize:"",               //modal-lg或modal-sm
                    body:"窗口中间内容",
                    buttons:buttons
                });
                //可以通过返回的dialog对象调用相关方法
                dialog.setBody("修改内容");
                dialog.show();
            })
        </script>
    </textarea>
</div>

<div id="exampleInstance" class="cs-example-instance">

</div>


