<!-- Nav tabs -->
<style>
    .acl_nav{
        width: 300px;
    }
</style>
<div class="acl_nav">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">资源</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">授权</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">变更</a></li>
    </ul>
</div>
<div class="acl_tab">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row">
                <div class="col-md-3">
                    <div id="tree_res" class="ztree"></div>
                </div>
                <div class="col-md-9">
                    <div id="grid_res"></div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">

        </div>
        <div role="tabpanel" class="tab-pane" id="messages">

        </div>
    </div>
</div>
