<div class="tab-header">
    <div class="title">
        <i class="fa fa-bars"></i><span>资源-功能URL</span>
    </div>
    <div class="tool">
        <button id="btn_res_save" class="btn btn-default"><i class="fa fa-save"></i>保存</button>
    </div>
</div>
<style>
	#form_res .mb15{
		margin-bottom: 15px;
	}
	#form_res .mt15{
		margin-top: 15px;
	}
	#form_res .fs18{
		font-size: 18px;
	}
</style>
<div class="single-panel">
    <form id="form_res" class="form-horizontal">
   	 	<fieldset>
		    <legend class="mb15 mt15 fs18 text-primary">基本信息</legend>
	        <input type="hidden" id="resId" name="resId" />
	        <input type="hidden" id="resPid" name="resPid" />
	        <input type="hidden" id="resType" name="resType" value="2" />
	        <div class="form-group">
	            <label class="col-sm-3 control-label" for="resName">资源名称</label>
	            <div class="col-sm-8">
	                <input type="text" class="form-control" id="resName" name="resName" />
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="col-sm-3 control-label" for="resUrl">资源地址</label>
	            <div class="col-sm-8">
	                <input type="text" class="form-control" id="resUrl" name="resUrl" />
	            </div>  
	        </div>
	        <div class="form-group">
	            <label class="col-sm-3 control-label" for="resDesc">资源描述</label>
	            <div class="col-sm-8">
	                <input type="text" class="form-control" id="resDesc" name="resDesc" />
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="col-sm-3 control-label" for="resPid">所属资源目录</label>
	            <div class="col-sm-8">
	                <input type="text" class="form-control" id="resParent" name="resParent" readonly />
	            </div>
	        </div>
        </fieldset>
        <fieldset>
        	<legend class="mb15 mt15 fs18 text-primary">安全信息</legend>
	        <div class="form-group">
	            <label class="col-sm-3 control-label" for="resUrl">referer验证</label>
	            <div class="col-sm-8">
	                <select class="form-control" id="isReferer" name="isReferer">
	                	<option value="0">否</option>
	                	<option value="1">是</option>
	                </select>
	            </div>  
	        </div>
	        <div class="form-group">
	            <label class="col-sm-3 control-label" for="resUrl">token验证</label>
	            <div class="col-sm-8">
	                <select class="form-control" id="isToken" name="isToken">
	                	<option value="0">否</option>
	                	<option value="1">是</option>
	                </select>
	            </div>  
	        </div>
        </fieldset>
    </form>
</div>
