<!-- 
<div class="nav_resService">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#tab_resService_all" role="tab" data-toggle="tab">所有服务</a></li>
        <li role="presentation"><a href="#tab_resService_part" role="tab" data-toggle="tab">未添加服务</a></li>
    </ul>
</div>
 -->
<!-- <div class="tabs_resService">
 	Tab panes
    <div class="tab-content">
   		全部服务
		<div role="tabpanel" class="tab-pane active" id="tab_resService_all">
			<div id="tree_resService" class="ztree"></div>
 	 	</div>
 	 	部分服务
 	 	<div role="tabpanel" class="tab-pane" id="tab_resService_part">
			<div class="toolbar mb10">
	        	<button id="btn_authRes_refresh" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;全部添加</button>
	        	<button id="btn_authRes_addSort" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;部分添加</button>
        	</div>
 	 	</div>
    </div>
</div> -->
<div class="toolbar mb10">
	<button id="btn_authService_checkAll" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;全选</button>
	<!-- 
	<button id="btn_authRes_addSort" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;部分添加</button>
	 -->
</div>
<div id="tree_resService" class="ztree"></div>