<!DOCTYPE html>

<h2>Alert</h2>
<div>
<div class="well">
	<input type="text" id="alert_Area"
	class="form-control" style="margin-right: 15px; width:80%;"
	placeholder="请输入Alert信息！" />
	<button class="btn btn-success"  id="alertBtn">
		Click Me!
	</button>
</div>
<hr width="95%"/>
<script type="text/javascript">
	require(["jquery", "UtilDir/util"], function($, Util) {
		$("#alertBtn").click(function() {
			var info = $("#alert_Area").val();
			Util.alert( info ? info : "Alert info 为空！");
		});
	})
</script>
</div>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++ -->
<h2>Confirm</h2>
<div>
<div class="well">
	<button class="btn btn-success" id="confirmBtn">
		Click Me!
	</button>
	<div id="result1" style="margin-left: 15px;">
		这里显示点击结果！
	</div>
</div>
<hr width="95%"/>
<script type="text/javascript">
	require(["jquery", "UtilDir/util"], function($, Util) {
		$("#confirmBtn").click(function() {
			Util.confirm("确定对话框~~", function() {
				$("#result1").html("您点击了<strong>确定</strong>按钮！");
			}, function() {
				$("#result1").html("您点击了<strong>取消</strong>按钮！");
			});
		});
	})
</script>
</div>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++ -->
<h2>ContentDialog</h2>
<div>
<div class="well">
	<button class="btn btn-success" id="contentDialogBtn">
		Click Me!
	</button>
</div>
<hr width="95%"/>
<script type="text/javascript">
	require(["jquery", "UtilDir/util"], function($, Util) {
		$("#contentDialogBtn").click(function() {
			var config = {
				title : "Test Content Dialog",
				template : "/example/static/core/examples/util/dialog/views/source.html",
				afterLoad : function(dialog) {
					alert("这里是模板加载后执行的函数！");
				}
			};
			Util.contentDialog(config);
		});
	})
</script>
</div>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++ -->
<h2>Slidebar</h2>
<div>
<div class="well">
	<button class="btn btn-success form-control" id="slideBarBtn">Click Me!(By Url)</button>
	
	<button class="btn btn-success form-control" id="slideBarBtn2" 
	        style="margin-left: 40px;">Click Me!(By Id)</button>
</div>

<div id="testSlideBar" style="display:none">
	<span>测试侧边栏的Id属性</span>
	
	
</div>

<blockquote>
	<p>
		Warning!
	</p>
	<div class="alert alert-warning">
		<p>
			config中的id属性和url属性互斥，同时只能使用一个，
			如果将侧边栏的模板写入同一页面内，此时可传递div的id作为侧边栏显示内容，
			若使用url属性，则可以通过相对webroot的相对路径加载显示模板。

		</p>
	</div>
</blockquote>

<hr width="95%"/>
<script type="text/javascript">
	require(["jquery", "UtilDir/util"], function($, Util) {
		$("#slideBarBtn").click(function() {
			var config = {
				url : getStaticPath()+"/app/examples/util/dialog/views/source.html",
				width : "200px",
				close : true
			};
			Util.slidebar(config);
		});
		
		$("#slideBarBtn2").click(function() {
			var config2 = {
				id : "testSlideBar",
				width : "300px",
				close : true
			};
			Util.slidebar(config2);
		});
	})
</script>
</div>
<!-- 下面的样式请勿修改！ 
<script type="text/javascript">
	require(["jquery"], function($) {
		$(".well").attr("style", "display: inline-flex; width: 100%;");
	}); 
</script>-->